@model ProyectoWeb.Models.MdUsuarios
@{
    ViewData["Title"] = "Editar";
}

<div class="text-center">
    <form method="post" action="/Usuarios/Editar">
        <input  type="hidden" name="idUsuario" value="@Model.idUsuario" />
        <label>Nombre</label>
        <input class="col-sm-4" type="text" name="nombre" value="@Model.nombre">

        <label>Fecha Nacimiento</label>
        <input class="form-control-sm" type="date" name="fecha" value="@Model.fecha">

        <label for="sexo">Elige tu Genero:</label>
        <select class="form-control-sm" id="sexo" name="sexo">
            @if(Model.sexo == "F")
            {
                <option value="F">Femenino</option>
            }
            else
            {
                <option value="M">Masculino</option>
            }
            <option value="S">Seleccione</option>
        </select>

        <br />
        <div class="text-center" ; style="padding:20px">
            <input type="submit" value="Crear" id="btn_crear" class="btn-info">
        </div>
    </form>

</div>